{{ define "main" }}
<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">{{ .Title }}</h1>
    {{- if .Description }}<div class="post-description">{{ .Description }}</div>{{ end }}
  </header>
  <div class="post-content">
    {{ .Content | replaceRE "(?s)^<h1[^>]*>.*?</h1>\\s*" "" | safeHTML }}
    {{ partial "category-list.html" . }}
  </div>
  <footer class="post-footer">
    <ul class="post-tags">
      <li><a href="/categories/">All categories →</a></li>
    </ul>
  </footer>
</article>
{{ end }}
