<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "eb4798bed1424124b44e6f7e94536fed"}'></script>
<!-- End Cloudflare Web Analytics -->

<!-- Google Analytics GA4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GJLXF62ZN4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GJLXF62ZN4');
</script>
<!-- End Google Analytics -->
